.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.form__label--error::after {
  content: 'Invalid input';
  color: red;
}

.form__text-input {
  height: 20px;
  width: 200px;
  font-size: 16px;
}

.form__radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__button {
  width: 64px;
  height: 32px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #04AA6D;
  border: none;
  border-radius: 8px;
  color: white;
}

.form__button:hover {
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  width: 600px;
}

.table__head, .table__data {
  border: 1px solid #ddd;
  padding: 8px;
}

.table__head {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}